# Project exclude paths
/inventory-service/target/
/order-service/target/
/product-service/target/
/discovery-server/target/
/api-gateway/target/
/notification-service/target
/.idea
/postgres-inventory
/postgres-keycloak
/postgres-order
/mongo-data
/grafana